<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

<h2>Thank you for signing up with BLOG! You are now part of the Blogger Blogger family.<h2>
  <h2>Now that you are registered, go ahead and BlogIn to post</h2>


<ul>
  <li>bläɡ/</li>
  <li>noun</li>
  <li>
  a regularly updated website or web page, typically one run by an individual or small group, that is written in an informal or conversational style.</li>
  <li>verb</li>
  <li>1.
  add new material to or regularly update a blog.
  "it's about a week since I last blogged"</li>
</ul>
