<!-- <h1>Posts#index</h1> -->
<!-- <p>Find me in app/views/posts/index.html.erb</p> -->

<ul>
  <% @posts.each do |post| %>
  <li>
    <strong>Title: <%= post.title %></strong>
    <br>
    <br>
    <%= post.content %>
    <br>
    <br>
    <br>
    <%= link_to "Comment Post", new_post_comment_path(post.id) %> |
    <br>
    <br>
    <br>
    <br>
  </li>
  <% end %>
</ul>
